.index-of-active-section-container{
    position: absolute;
    bottom: 5%;
    left: 50%;
    translate: -50% 0;
    .index-title-container{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 2rem;
    }
}