<div class="form-field-container" [formGroup]="this.rootGroup.control">
    <label [for]="controlName">
        <div class="icon-container">
            <span class="icon">
                <fa-icon [icon]="labelIcon"></fa-icon>
            </span>
        </div>
        <div class="input-container">
            <input type="text" autocomplete="off" spellcheck="off" [id]="controlName" [name]="controlName" [formControlName]="controlName" [placeholder]="placeholder">
            @if (!getControl().hasError('isEmpty')){
                <button type="button" class="clear-search-input" (click)="clearFormControl()">
                    <span class="icon">
                        <fa-icon [icon]="icon.faCircleXmark"></fa-icon>
                    </span>
                </button>
            }
        </div>
        @if(getControl().errors && getControl().touched){
            <app-input-error-message [placeholder]="placeholder" [errorKey]="errorKey"></app-input-error-message>
        }
    </label>
</div>