<div class="aplication-wrapper">
    <div class="icon-container">
        <fa-layers [fixedWidth]="true">
            <fa-icon [icon]="icon.faUsers" class="mainIcon text-color-blue-10"></fa-icon>
            <fa-icon [icon]="icon.faMagnifyingGlass" class="seconderyIcon text-color-blue-95" transform="right-10 down-8" size="2xs" ></fa-icon>
        </fa-layers>
    </div>
    <div class="content-container">
        <p class="text text-color-black">contact not found</p>
        <button type="button" class="bg-color-blue-20 text-color-white" (click)="goHome()">
            <span>go home</span>
        </button>
    </div>
</div>