.form-control-container{
    // STYLE FOR SELECT

    .select-container{
        position: relative;
        .options-container{
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 0;
            width: 100%;
            border-radius: 0 0 8px 8px;
            max-height: 100px;
            overflow: hidden;
            padding-bottom: 5px;
            display: flex;
            flex-direction: column;
            border-width: 1px;
            border-style: solid;
            border-top: none;
            box-shadow: 0 0 2px #5d5d5d;
            .options-content{
                overflow-y: auto;
                ul{
                    list-style: none;
                    font-size: .9rem;
                    li{
                        padding: 5px 6px;
                        text-transform: capitalize;
                        font-weight: 500;
                        cursor: pointer;
                    }
            }
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
            }
            
            }
            &+.selected-option{
                border-radius: 8px 8px 0px 0px;
                .icon-container span.icon fa-icon{
                    rotate: 180deg;
                }
            }
        }
        .selected-option{
            position: relative;
            display: flex;
            padding: 6px 10px;
            font-size: .9rem;
            font-weight: 500;
            cursor: pointer;
            text-transform: capitalize;
            .option-title{
                flex: 1;
            }
            .icon-container{
                span.icon{
                    display: flex;
                    fa-icon{
                        transition: .3s;
                    }
                }
            }
        }
    }
    // STYLE FOR TEXT NUMBER BOOLEAN
    label{
        display: flex;
        align-items: center;
        gap: 10px;
        .input-container{
            flex: 1;
            position: relative;
            input{
                width: 100%;
                padding-right: 20px;
                outline: none;
                border: none;
                background-color: transparent;
                font-size: 1rem;
                font-weight: 500;
                &::placeholder{
                    text-transform: lowercase;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                &[type='number']{
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                        margin: 0;
                        appearance: none;
                    }
                    appearance: textfield;
                }
            }
        }
    }
}