<div class="form-array-field-container" [formGroup]="rootGroup">
    @if (formArrayGroup.length > 0) {
        <div class="array-fields-container">
            <div class="icon-container">
                <span class="icon">
                    <fa-icon [icon]="labelIcon"></fa-icon>
                </span>
            </div>
            <div class="fields-container" formArrayName="numbers">
                @for (fGroup of formArrayGroup; track $index) {
                    <app-form-array-control [fArrayName]="arrayName" [selectOptions]="selectOptions" [contentType]="contentType" [placeholder]="placeholder" [fGroup]="fGroup" [fArray]="formArray" [index]="$index"></app-form-array-control>
                }
            </div>
        </div>
    }
    <div class="add-new-field-btn-container">
        <button type="button" (click)="addField()">
            <span class="icon">
                <fa-icon [icon]="icon.faPlus"></fa-icon>
            </span>
            <span class="title">
                add new {{placeholder}}
            </span>
        </button>
    </div>
</div>
