:host{
    flex: 1;
    .search-form-container{
        form{
            .label-container{
                label{
                    .input-container{
                        display: flex;
                        position: relative;
                        input{
                            width: 100%;
                            outline: none;
                            border-width: 1px;
                            border-style: solid;
                            font-size: .85rem;
                            border-radius: 10px;
                            padding: 5px 30px 5px 10px;
                            font-weight: 500;
                            &::placeholder{
                                text-transform: capitalize;
                                font-weight: 500;
                                font-size: 0.9rem;
                                color: #f9f9fb;
                            }
                        }
                        button.clear-input{
                            right: 10px
                        }
                    }
                }
            }
        }
    }
}
