<div class="form-array-container form-element" [formGroup]="componentConfig.parentGroup">
        <div class="form-array-content-container">
            @if(formArray.controls.length > 0 && componentConfig.icon != undefined) {
                <div class="icon">
                    <app-form-field-icon [iconDef]="componentConfig.icon" [style]="{'font-size': '1.3rem',
                    'padding-left': '9px' }"></app-form-field-icon>
                </div>
            }
            <div class="form-element-controlers-container array-controlers">
                <ng-container #dynamicFormField></ng-container>
            </div>
        </div>
    <div class="add-new-field-btn-container border-color-blue-20">
        <button type="button" class="border-color-blue-20 text-color-blue-10" (click)="addField()">
            <span class="icon">
                <fa-icon [icon]="icon.faPlus"></fa-icon>
            </span>
            <span class="title">
                add new {{componentConfig.label}}
            </span>
        </button>
    </div>
</div>
