    <div class="mobile-info-line-container">
        <div class="info-container">
            <span class="current-time-container">{{time}}</span>
        </div>
        <div class="extend-container bg-color-black-10">
            <span class="speaker-camera-container before-bg-color-blue-5"></span>
        </div>
        <div class="info-container">
            <span class="icons-container">
                <fa-icon [icon]="icon.faWifi"></fa-icon>
                <fa-icon [icon]="icon.faBatteryFull"></fa-icon>
            </span>
        </div>
    </div>
