@use 'sass:map';
@import '../../../styles/variables';

.mobile-info-line-container{
    display: none;
    height: 25px;
    .info-container{
        flex: 1;
        display: flex;
        align-items: end;
        span{
            display: inline-flex;
            gap: 8px;
            font-size: .9rem;
            font-weight: 700;
        }
        &:first-of-type{
            justify-content: center;
        }
        &:last-of-type{
            justify-content: flex-end;
            span{
                margin-right: 20px;
            }
        }
    }
    .extend-container{
        flex: 0 0 50%;
        border-radius: 0 0 15px 15px;
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        &::before, &::after{
            content: "";
            position: absolute;
            top: 0%;
            width: 10px;
            height: 10px;
            background-color: transparent;
        }
        &::before{
            background-color: transparent;
            right: 100%;
            border-top-right-radius: 50%;
            box-shadow: 5px -1px 0 0px #1B1A1B;
        }
        &::after{
            background-color: transparent;
            left: 100%;
            border-top-left-radius: 50%;
            box-shadow: -5px -1px 0 0px #1B1A1B;
        }
        span.speaker-camera-container{
            display: block;
            flex: 0 0 45%;
            height: 10px;
            border-radius: 6px;
            background-color: #000;
            box-shadow: inset 0px -6px 5px -3px #514f4f;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: -1px;
                width: 12px;
                height: 12px;
                left: 100%;
                margin-left: 10px;
                border-radius: 50%;
                box-shadow: inset 0px -4px 0px -2px #b5b5b57a, inset 0px 0px 0px 3px #000;
            }
        }
    }
}


@media screen and (min-width: map.get($breakPointsView, 'medium')) {
    .mobile-info-line-container{
        display: flex;
    }
}
