<div class="mobile-border">
    <div class="mobile-content-container">
        <div class="mobile-info-line-container">
            <div class="info-container">
                <span class="current-time-container">{{time}}</span>
            </div>
            <div class="extend-container">
                <span class="speaker-camera-container"></span>
            </div>
            <div class="info-container">
                <span class="icons-container">
                    <fa-icon [icon]="icon.faWifi"></fa-icon>
                    <fa-icon [icon]="icon.faBatteryFull"></fa-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="mobile-buttons-container">
        <span class="left-buttons-container"></span>
        <span class="right-buttons-container"></span>
    </div>
</div>