.field-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-right: 4px;
    padding-inline: 10px;
    position: relative;
    .input-container{
        flex: 0 0 100%;
        padding-bottom: 25px;
        .label-container{
            position: relative;
           input{
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            font-size: .95rem;
            padding: 1px 5px;
            font-weight: 500;
            &::placeholder{
                text-transform: capitalize;
            }
            &[type=number]::-webkit-outer-spin-button,
            &[type=number]::-webkit-inner-spin-button {
                appearance: none;
                margin: 0;
            }
            &[type=number] {
                appearance: textfield;
            }
        }
        button{
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            right: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            span.icon{
                fa-icon{
                    display: flex;
                }
            }
        } 
        }
        
    }
    .delete-btn-container{
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            cursor: pointer;
            border: none;
            font-size: 1rem;
        }
    }
}