<div class="type-field-container">
    <div class="select-container" appClickOutSide (clickOutSide)="clickOutSide()">
        @if (renderOpts) {
            <div class="options-container" @selectOptsAnime>
                <div class="options-content">
                    <ul>
                    @for (opt of selectOptions; track $index) {
                        @if (opt.value != fControl.value ) {
                            <li (click)="setValue(opt)">
                                <div class="option-container">
                                    {{opt.label}}
                                </div>
                            </li>
                        }
                    }
                    </ul>
                </div>
            </div>
        }
        <div class="selected-option" (click)="toggleSelectOptions()">
            <div class="option-title">
                <span class="title">
                    {{ fControl.value | selectOptLabel : selectOptions }}
                </span>
            </div>
            <div class="icon-container">
                <span class="icon">
                    <fa-icon [icon]="icon.faChevronDown"></fa-icon>
                </span>
            </div>
        </div>
    </div>
</div>
