.aplication-wrapper{
    gap: 0px;
    padding-bottom: 20px;
    &:has( .datas-section-container){
        gap: 30px;
    }
    .aplication-header-container{
        .header-top-container{
            justify-content: space-between;
        }
        .header-bottom-container{
            justify-content: flex-start;
            .img-contact-container{
                flex: 0 0 60px;
            }
            .name-contact-container{
                text-transform: capitalize;
                font-weight: 500;
                font-size: 1.2rem;
                min-width: 0;
                p{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
    .aplication-main-container{
        flex-direction: column;
        .contact-datas-container{
            display: flex;
            padding-inline: 20px 15px;
            overflow: auto;
            flex: 1 0px;
            scrollbar-gutter: stable;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
            }
            &:has(>.datas-section-container){
                padding-block: 20px 40px;
                justify-content: flex-start;
            }
            .notFoundContact-container{
                .content-container{
                    margin-bottom: 50px;
                }
            }
            .datas-section-container{
                display: flex;
                border-radius: 20px;
                border-width: 2px;
                border-style: solid;
                padding: 10px 10px;
                gap: 5px;
                .icon-section-container{
                    font-size: 1.3rem;
                    padding-inline: 9px 15px;
                }
                .datas-container{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    .data-container{
                        display: flex;
                        flex-direction: column;
                        font-weight: 500;
                        font-size: .95rem;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        padding-block: 4px;
                        .type-data{
                            font-size: .85rem;
                            text-transform: capitalize;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}