<div class="aplication-wrapper">
    <div class="aplication-headLine-container">
        @if (!renderSearchFrom) {
            <h1 class="title">all contacts</h1>
            <div class="open-form-btn-container">
                <button type="button" (click)="openSearchForm()">
                    <span class="icon">
                        <fa-icon [icon]="icon.faMagnifyingGlass"></fa-icon>
                    </span>
                </button>
            </div>
        }@else {
            <div class="close-form-btn-container">
                <button (click)="closeSearchForm()">
                    <span class="icon">
                        <fa-icon [icon]="icon.faArrowLeft"></fa-icon>
                    </span>
                </button>
            </div>
            <app-search-form (updateFormValue)="updateSearchValue($event)"></app-search-form>
        }
    </div>
    <div class="list-contacts-container">
        <div class="sections-contacts-container">
            @for (group of contacts | filterBy:searchValue : true : 'name' | groupBy | sort:'key'; track $index) {
                <div class="section-contacts-container">
                    @if(searchValue.length == 0){
                        <div class="section-title">
                            <span class="title">{{group.key}}</span>
                        </div>
                    }
                    @for (contact of group.values | sort:'name'; track $index) {
                        <div class="section-body">
                            <div class="contact-container">
                                <div class="img-contact-container">
                                    <span class="img" SetBgColor [bgHueCode]="contact.iconColor">
                                        {{contact.name.slice(0, 1)}}
                                    </span>
                                </div>
                                <div class="name-contact-container">
                                    <span class="name">{{contact.name}}</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="action-btn-container">
            <button type="button" (click)="addNewContact()">
                <span class="icon">
                    <fa-icon [icon]="icon.faUserPlus"></fa-icon>
                </span>
            </button>
        </div>
    </div>
</div>