.aplication-wrapper{
    .aplication-header-container{
        .header-top-container{
            gap: 10px;
            padding-inline: 10px;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            .title{
                font-size: 1.2rem;
                text-transform: capitalize;
            }
            button{
                font-size: 1.2rem;
                border: none;
                padding-inline: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: transparent;
                span.icon{
                    fa-icon{
                    display: flex;
                    }
                }
            }
        }
    }
    .aplication-main-container{
        position: relative;
        .contactsList-container{
            display: flex;
            flex: 1;
            overflow: hidden;
            .contactsList-overflow-container{
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .contacts-content{
                    flex: 1 0px;
                    overflow-y: auto;
                    padding-top: 10px;
                    scrollbar-gutter: stable;
                    &:has(.notFoundContact-container){
                        scrollbar-gutter: unset;
                    }
                    .contacts-group{
                        scroll-margin-top: 20px;
                        .contacts-group-head{
                            margin-inline-start: 5px;
                            padding-inline: 10px;
                            border-bottom-width: 2px;
                            border-bottom-style: solid;
                            span.title{
                                text-transform: capitalize;
                                font-weight: 700;
                                font-size: 1rem;
                            }
                        }
                        .contacts-group-body{
                            .contact-container{
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                padding: 10px;
                                padding-right: 30px;
                                border-bottom-width: 1px;
                                border-bottom-style: solid;
                                &:last-of-type{
                                    border: none;
                                }
                                .img-contact-container{
                                    span.img{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 40px;
                                        aspect-ratio: 1/1;
                                        text-transform: capitalize;
                                        font-weight: 700;
                                        font-size: 1.4rem;
                                        border-radius: 50%;
                                    }
                                }
                                .name-contact-container{
                                    min-width: 0;
                                    p.name{
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-transform: capitalize;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
    
            }
        }

    }
}