<div class="form-group-container form-element border-color-blue-20" [formGroup]="formGroup">
    @if(componentConfigData.icon != undefined){
        <app-form-field-icon [iconDef]="componentConfigData.icon"></app-form-field-icon>
    }
    <div class="form-element-controlers-container group-controlers">
        <ng-container #dynamicFormField></ng-container>
    </div>
    @if(parentIsArray){
        <div class="delete-btn-container">
            <button type="button" class="text-color-blue-10" (click)="removeField()">
                <span class="icon">
                    <fa-icon [icon]="icon.faTrash"></fa-icon>
                </span>
            </button>
        </div>
    }
</div>

