$libFormThemeColors: (
    blue-90: #91a5de,
    blue-50: #5971b4,
    blue-20: #5971b4,
    blue-10: #2b4691,
    gray: #b8c2d9,
    red: #c52d2d,
    black: #050506,
    white: #f9f9fb,
    blue-92: #acbff3,   
)